browser
browser_gobj
Math/test
*.d
*.o
*.lo
*~
nbproject/*
.ccls-cache/*
CMakeFiles/*
project_libjpeg6b-6b-prefix/*
libjpeg6b-6b-prefix/*
libjpeg6b-6b/*
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/motore_grafikoa.iml
.idea/modules.xml
.idea/misc.xml
.idea/.gitignore
